/* #region global rules  */
/* Variables */
:root {
  --blue: #223150;
  --sec-blue: #0092ff;
  --red: #ff3946;
  --white: #fffefe;
  --gray: #5c6577;
  --sec-gray: #809298;
  --btn-padding: 17px 35px;
  --box-shadow: 0 3px 3px 1px rgb(0 0 0 / 8%);
}
/* End Variables */
/* Global Rules */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  user-select: none;
  height: 200vh;
}
ul,
li {
  list-style-type: none;
  padding: 0px;
}
body,
p {
  font: 400 1rem/1.625rem system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.sp-btn {
  background-color: var(--sec-blue);
  border: 1px solid var(--sec-blue);
  border-radius: 25px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.sp-btn:hover {
  background-color: #fcfafb;
  color: #0092ff;
}
/* Small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* region global rules */
.fixed-top {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  transition: all 1s ease-in;
}
.navigation-bar {
  padding: 16px 0px 8px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: var(--box-shadow);
  background-color: #fdfafa;
}
/* logo */
nav .logo {
  width: 126px;
  cursor: pointer;
}

nav .logo img {
  width: 100%;
}
/* End logo */
/* nav items */
nav .navigation .nav-items li {
  padding: 10px;
  cursor: pointer;
}

nav .navigation .nav-items li a {
  color: var(--gray);
}

nav .navigation ul li a:hover {
  color: var(--sec-blue);
}

/* nav items */
/* icon and display drop dawn menu  */
#drop-down-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

#drop-down-icon:hover .drop-down {
  display: block;
}
/* icon and display drop dawn menu */

/* drop down menu */
nav .nav-items .drop-down {
  position: absolute;
  display: none;
  border: none;
  padding: 5px;
  margin-top: 10px;
  background-color: #fcfafb;
  border-radius: 5px;
  box-shadow: 0 3px 3px 1px rgb(0 0 0 / 8%);
}
nav .nav-items .drop-down li {
  padding: 10px;
  font-size: 15px;
  line-height: 2;
  font-weight: 600;
  border-bottom: 1px solid gray;
}
nav .nav-items .drop-down li:last-of-type {
  border: none;
}

/* End drop down menu  */

/* btn Get quote */
nav .navigation .btn {
  background-color: var(--sec-blue);
  padding: 16px 24px;
  border-radius: 25px;
  line-height: 0;
  margin-left: 15px;
  border: 1px solid var(--sec-blue);
  transition: all 0.1s ease-in;
  cursor: pointer;
}
nav .navigation .btn:hover {
  background-color: #fcfafb;
}

nav .navigation .btn a {
  color: var(--white);
}

nav .navigation .btn:hover a {
  color: #0092ff;
}
/* End btn Get quote */

/* burger icon  */
nav .navigation .burger-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 30px;
}

nav .navigation .burger-icon span {
  height: 2px;
  width: 100%;
  margin: 4px;
  background-color: black;
}
/* End burger icon */
/*  */
@media (max-width: 992px) {
  nav {
    padding-top: 15px;
  }
  nav .navigation .burger-icon {
    display: flex;
  }
  nav .navigation .nav-items,
  nav .navigation .btn {
    display: none;
  }
  nav .navigation .burger-icon:hover span {
    display: flex;
    flex-direction: column;
  }
  nav .navigation .drop-down-is-showing {
    position: absolute;
    top: 55px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    box-shadow: var(--box-shadow);
    transition: all 0.4s ease-in-out;
  }
  nav .navigation .nav-items li {
    color: black;
  }
}

@media (max-width: 768px) {
}

/* header */

.header {
  background: url("/resourses/img/header-background.jpg");
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 5em;
  text-align: left;
}
.box-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .box-content .col-1 {
  padding-right: 1rem;
  width: 50%;
  flex: 0 0 auto;
}
.header .box-content .col-2 {
  flex: 0 0 auto;
}
.header .box-content .col-1 h1 {
  font-size: 3.25rem;
  color: var(--blue);
  line-height: 3.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: -0.4px;
  font-weight: 700;
}
.header .box-content .col-1 p {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 2rem;
}
.header .box-content .col-1 .btn {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
}

@media (max-width: 992px) {
  .header .box-content {
    flex-direction: column;
  }
  .header .box-content .col-1 {
    width: auto;
    padding: 3rem 0rem;
  }
  .header .box-content .col-1,
  .header .box-content .col-2 {
    text-align: center;
    right: 0rem;
  }
}
.services {
  background: url("/resourses/img/header-background.jpg");
}
.services h2 {
  font-size: 2rem;
  color: var(--blue);
  line-height: 3.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: -0.4px;
  font-weight: 700;
}
