.navigation-bar {
  padding: 16px 0px 8px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: var(--box-shadow);
  background-color: #fdfafa;
}
/* logo */
nav .logo {
  width: 126px;
  cursor: pointer;
}

nav .logo img {
  width: 100%;
}
/* End logo */
/* nav items */
nav .navigation .nav-items li {
  padding: 10px;
  cursor: pointer;
}

nav .navigation .nav-items li a {
  color: var(--gray);
}

nav .navigation ul li a:hover {
  color: var(--sec-blue);
}

/* nav items */
/* icon and display drop dawn menu  */
#drop-down-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

#drop-down-icon:hover .drop-down {
  display: block;
}
/* icon and display drop dawn menu */

/* drop down menu */
nav .nav-items .drop-down {
  position: absolute;
  display: none;
  border: none;
  padding: 5px;
  margin-top: 10px;
  background-color: #fcfafb;
  border-radius: 5px;
  box-shadow: 0 3px 3px 1px rgb(0 0 0 / 8%);
}
nav .nav-items .drop-down li {
  padding: 10px;
  font-size: 15px;
  line-height: 2;
  font-weight: 600;
  border-bottom: 1px solid gray;
}
nav .nav-items .drop-down li:last-of-type {
  border: none;
}

/* End drop down menu  */

/* btn Get quote */
nav .navigation .btn {
  background-color: var(--sec-blue);
  padding: 16px 24px;
  border-radius: 25px;
  line-height: 0;
  margin-left: 15px;
  border: 1px solid var(--sec-blue);
  transition: all 0.1s ease-in;
  cursor: pointer;
}
nav .navigation .btn:hover {
  background-color: #fcfafb;
}

nav .navigation .btn a {
  color: var(--white);
}

nav .navigation .btn:hover a {
  color: #0092ff;
}
/* End btn Get quote */

/* burger icon  */
nav .navigation .burger-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 30px;
}

nav .navigation .burger-icon span {
  height: 2px;
  width: 100%;
  margin: 4px;
  background-color: black;
}
/* End burger icon */

@media (max-width: 992px) {
  nav {
    padding-top: 15px;
  }
  nav .navigation .burger-icon {
    display: flex;
  }
  nav .navigation .nav-items,
  nav .navigation .btn {
    display: none;
  }
  nav .navigation .burger-icon:hover span {
    display: flex;
    flex-direction: column;
  }
  nav .navigation .drop-down-is-showing {
    position: absolute;
    top: 55px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    box-shadow: var(--box-shadow);
    transition: all 0.4s ease-in-out;
  }
  nav .navigation .nav-items li {
    color: black;
  }
}
/* nav section */

/* header section */
.header {
  background: url("/resourses/img/header-background.jpg");
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 5em;
  text-align: left;
}
.box-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .box-content .col-1 {
  padding-right: 9rem;
  width: 50%;
  flex: 0 0 auto;
}
.header .box-content .col-2 {
  flex: 0 0 auto;
}
.header .box-content .col-1 a {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
}

@media (max-width: 992px) {
  .header .box-content .col-1 h1 {
    padding: 0;
    font-size: 2.5rem;
    padding-top: 0;
  }

  .header .box-content {
    flex-direction: column;
  }

  .header .box-content .col-1 {
    width: auto;
    padding: 3rem 0rem;
  }

  .header .box-content .col-1,
  .header .box-content .col-2 {
    text-align: center;
    right: 0rem;
  }

  .header,
  .header .box-content .col-1 {
    padding-top: 0;
  }
}
/* End header section */

/*  services section */
.services {
  background: #fcfafb;
  padding: 2rem 0px;
}

.services .box-content .col h4,
.services .box-content .col h5,
.services .box-content .col p {
  margin-bottom: 0;
}
.services .box-content .col .card-body h4 {
  font-size: 1.25rem;
}
.services .box-content .col .card {
  margin: 0 2rem;
  padding: 2rem 0;
}
.services .box-content .col .card .card-title {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
  width: fit-content;
}
.services .box-content .col-1 .card .card-title {
  background-color: #ddedfb;
  color: #0092ff;
}

.services .box-content .col-2 .card .card-title {
  background-color: #fbe4e5;
  color: var(--red);
  padding: 1rem 1.25rem;
}

.services .box-content .col-3 .card .card-title {
  background-color: #e0f4ea;
  color: #17c76c;
}
.services .box-content .col .card-body a {
  cursor: pointer;
}

@media (max-width: 992px) {
  .services {
    text-align: center;
  }
  .services .box-content {
    flex-direction: column;
    text-align: center;
  }
  .services .box-content .col {
    margin: 0;
  }
  .services .box-content .col .card .card-title {
    margin: 0 auto;
  }
}
/* End services section */

.details {
  background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
  padding: 2rem 0px;
}
.details .box-content .col {
  padding: 2rem;
}
.details .box-content .col-1 {
  flex: 0 0 auto;
}

.details .box-content .col-2 h5 {
  color: var(--red);
  margin-bottom: -1rem;
}

.details .box-content .col-2 h2 {
  line-height: 1.5;
  margin: 1rem 0;
}
.details .box-content .col-2 button {
  padding: 0.8rem 2rem;
}

@media (max-width: 992px) {
  .details .box-content {
    flex-direction: column;
    text-align: center;
  }
}

/* about Us section */
.about-us {
  background: url("/resourses/img/details-2-background.jpg");
  background-size: cover;
}

.about-us .col-2 button {
  border: 1px solid var(--red);
  background-color: var(--white);
  color: var(--red);
}

.about-us .col-2 button:hover {
  background-color: var(--red);
  color: var(--white);
}
/* End about Us section */

/* features  section */
.features {
  background: url("/resourses/img/features-background.jpg");
  background-size: cover;
  text-align: center;
  padding: 5rem 0;
}
.features h2,
.features p {
  color: var(--white);
}

.features .box-title {
  max-width: 70%;
  margin: 0rem auto;
}
.features .box-content .col-1 {
  flex: 0 1 auto;
  margin: 0 3rem;
}
.features .box-content .col-1 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.features .box-content .col-1 .row h4 {
  color: var(--white);
  text-align: left;
  font-size: 1rem;
}

.features .box-content .col-1 .row i {
  color: var(--white);
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}
.features .box-content .col-1 .row-1 i {
  background-color: #15bf9f;
}

.features .box-content .col-1 .row-2 i {
  padding: 1rem 1.4rem;
  background-color: #1c78fb;
}
.features .box-content .col-1 .row-3 i {
  background-color: #dd62ff;
}
.features .box-content .col-1 .row-4 i {
  background-color: #fe6c03;
  padding: 1rem 1.1rem;
}

.features .box-content .col-1 {
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .features .box-content {
    flex-direction: column;
  }

  .features .box-content .col-1 .row i {
    margin: 1rem;
  }
  .features .box-content .col-1 .row {
    text-align: left;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .features .box-content .col-1 .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
  }
  .features .box-content .col-1 .row h4 {
    text-align: center;
  }
}
/* End  features  section */

/* costumers section */
.costumers {
  background: rgb(252, 250, 251);
  text-align: center;
  padding: 5rem 0;
}
.costumers .box-content .row {
  display: flex;
  flex-direction: row;
}
.costumers .box-content .row .card {
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  margin: 1rem;
  box-shadow: var(--box-shadow);
  background-color: #fff;
}
.costumers .box-content .row .card img {
  position: relative;
  top: -15px;
  margin: 0px auto;
  width: 48px;
}
.costumers .box-content .row .card div {
  padding: 0px 15px;
}
.costumers .box-content .row .card p {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.costumers .box-content .row .card h4 {
  margin: 0;
  font-size: 1.3rem;
}

.costumers .box-content .row .card span {
  height: 10px;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 992px) {
  .costumers .box-content .row {
    flex-direction: column;
  }
}
/* End costumers section */
/* slider section */
.slider {
  background: rgb(252, 250, 251);
  text-align: center;
  padding: 3rem 0;
}
.slider h3 {
  margin: 1rem 0;
  font-size: 1.7rem;
}
.slider h3 span {
  color: var(--sec-blue);
}
.slider .line {
  height: 1px;
  display: block;
  background-color: rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-bottom: 2rem;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
}
/* ENd slider section  */

/* invitation */
.invitation {
  background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
  text-align: center;
  padding: 3rem 0;
}
.invitation .box-content {
  background: url("/resourses/img/invitation-background.jpg");
  background-size: cover;
  border-radius: 30px;
}
.invitation .box-content {
  padding: 8rem;
  text-align: center;
}
.invitation .box-content h2,
.invitation .box-content p {
  color: var(--white);
}
.invitation .box-content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.invitation .box-content a {
  padding: 1rem 2rem;
  color: white;
  background-color: #17c76c;
  border-radius: 30px;
  border: 1px solid #17c76c;
}
.invitation .box-content a:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}
@media (max-width: 992px) {
  .invitation .box-content {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .invitation .box-content h2 {
    font-size: 1.6rem;
  }
  .invitation .box-content p {
    font-size: 1rem;
  }
  .invitation .box-content a {
    font-size: 1rem;
  }
}

/* End invitation */

/* contact section  */

.contact-me {
  /* background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255)); */
  padding: 3rem 0px;
}

.contact-me .box-content .col {
  padding: 2rem;
  width: 100%;
}
.contact-me .box-content .col-1 h5 {
  color: var(--red);
  margin-bottom: -1rem;
}

.contact-me .box-content .col-1 h2 {
  line-height: 1.5;
  margin: 1rem 0;
}
.contact-me .box-content .col-1 ul li {
  color: var(--gray);
}
.contact-me .box-content .col-2 form {
  display: flex;
  flex-direction: column;
}
.contact-me .box-content .col-2 form button {
  padding: 1rem;
}
.contact-me .box-content .col-2 input {
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}
@media (max-width: 992px) {
  .contact-me .box-content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
}
/* End contact section*/

/* footer section */
footer.footer {
  text-align: center;
  background: rgb(252, 250, 251) url("/resourses/img/decoration-circles.png")
    no-repeat left;
  padding: 5rem auto;
}
.footer h2 {
  padding-top: 4rem;
}
.footer .social-media-icons {
  padding-bottom: 3rem;
}

.footer .social-media-icons .fa-stack {
  width: 2em;
  margin-bottom: 1.25rem;
  margin-right: 0.375rem;
  font-size: 1.5rem;
}
.footer .social-media-icons .fa-stack .fa-stack-2x {
  color: #ffffff;
  transition: all 0.2s ease;
}
.fa-stack .fa-stack-1x {
  color: #0092ff;
  transition: all 0.2s ease;
}

.footer .social-media-icons .fa-stack a:hover .fa-stack-1x {
  color: #ffffff;
}
.footer .social-media-icons .fa-stack a:hover .fa-stack-2x {
  color: #0092ff;
}

.footer .line {
  height: 1px;
  display: block;
  background-color: rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-bottom: 2rem;
}

.footer .footer-links .left-side a,
.footer .footer-links .right-side p {
  padding: 0rem 1rem;
  font-size: 1rem;
  color: var(--gray);
}
.footer .footer-links .left-side a:hover {
  color: var(--sec-blue);
}

.footer .footer-links {
  align-items: baseline;
}

@media (max-width: 992px) {
  .footer .footer-links .right-side,
  .footer .footer-links .left-side,
  .footer .footer-links {
    flex-direction: column;
  }
  .footer .footer-links {
    justify-content: center;
    align-items: center;
  }
  .footer .footer-links .left-side a,
  .footer .footer-links .right-side p {
    padding-top: 1rem;
  }
  .footer h2 {
    font-size: 1.3rem;
    line-height: 2;
  }
}
/* End footer section */
